# HomeWork 4
Adam Kulas  
watiam: akulas  
student number: 20302000  

References:
https://archive.ics.uci.edu/ml/datasets/Bank+Marketing#

In [15]:
import pandas as pd
import numpy as np
from numpy import linalg as LA
from IPython.display import display, HTML
import matplotlib.pyplot as plt

from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

pd.options.display.max_rows = None
pd.options.display.max_columns = None

In [46]:
data = pd.read_csv('bank.csv', sep=';')
display(data.head())

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

## Data Exploration

In [47]:
print(data.dtypes)
categorical_cols = ['job', 'marital', 'education', 'contact', 'month', 'poutcome']
data[categorical_cols] = data[categorical_cols].astype('category')
print(data.dtypes)

binary_cols = ['default', 'housing', 'loan', 'y']
d = {'yes': 1, 'no': 0}
for col in binary_cols:
    data[col] = data[col].map(d)
    data[col].astype(int)
    
display(data.head())

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object
age             int64
job          category
marital      category
education    category
default        object
balance         int64
housing        object
loan           object
contact      category
day             int64
month        category
duration        int64
campaign        int64
pdays           int64
previous        int64
poutcome     category
y              object
dtype: object

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,0,1787,0,0,cellular,19,oct,79,1,-1,0,unknown,0
1,33,services,married,secondary,0,4789,1,1,cellular,11,may,220,1,339,4,failure,0
2,35,management,single,tertiary,0,1350,1,0,cellular,16,apr,185,1,330,1,failure,0
3,30,management,married,tertiary,0,1476,1,1,unknown,3,jun,199,4,-1,0,unknown,0
4,59,blue-collar,married,secondary,0,0,1,0,unknown,5,may,226,1,-1,0,unknown,0

In [48]:
data.default.unique()

array([0, 1])

In [27]:
display(data.describe())

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

,age,balance,day,duration,campaign,pdays,previous
count,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000
mean,41.170095,1422.657819,15.915284,263.961292,2.793630,39.766645,0.542579
std,10.576211,3009.638142,8.247667,259.856633,3.109807,100.121124,1.693562
min,19.000000,-3313.000000,1.000000,4.000000,1.000000,-1.000000,0.000000
25%,33.000000,69.000000,9.000000,104.000000,1.000000,-1.000000,0.000000
50%,39.000000,444.000000,16.000000,185.000000,2.000000,-1.000000,0.000000
75%,49.000000,1480.000000,21.000000,329.000000,3.000000,-1.000000,0.000000
max,87.000000,71188.000000,31.000000,3025.000000,50.000000,871.000000,25.000000

## Prepare the data

The KNN algorithm calculates distance between the features in order to group the data. This is a problem with categorical fields because they must be converted to a number where distance between the labels correlate with the other numeric features in the set. For example education could be converted to a number representing amount of education achieved. This could be a reasonable conversion because you would expect addtional education to be advantagous to an individial's situation. However, grouping "contact" could be an issue because converting "celluar" to a numeric value may not provide any reasonable information in terms of euclidean distance between observations.

In [20]:
X = data.iloc[:,:-1].values
y = data['y'].values

display(data.dtypes)
display(data.describe)

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

## K Nearest Neighbors Model

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

neigh = KNeighborsClassifier(n_neighbors=5)
neigh.fit(X_train, y_train)


print(neigh.predict(X_test))

print(neigh.predict_proba(X_test))

ValueError: could not convert string to float: 'blue-collar'